bind {{ ansible_host }}
#protected-mode no

port {{ sentinel_port }}

daemonize yes

pidfile "/data/redis/pid/redis-sentinel.pid"

logfile "/data/redis/log/redis-sentinel.log"


dir "/data/redis/data"

sentinel monitor mymaster {{ sentinel_master }} {{ redis_port }} 2
sentinel auth-pass mymaster {{ redis_password }}

acllog-max-len 128



sentinel deny-scripts-reconfig yes


#sentinel resolve-hostnames no

#sentinel announce-hostnames no


latency-tracking-info-percentiles 50 99 99.9
supervised systemd
user default on nopass ~* &* +@all
